name: Continuous Integration

on: [pull_request]

jobs:
  macos:
    name: macOS
    runs-on: macOS-13
    strategy:
      matrix:
        action:
          - lint
          - iOS
          - OSX
          - tvOS
    steps:
    - uses: actions/checkout@v1
    - name: Xcode version
      run: sudo xcode-select -s /Applications/Xcode_14.3.1.app
    - name: Install and Test
      run: make install-${{ matrix.action }} && make test-${{ matrix.action }}
